<script>

import Layout from '@layouts/main'
import appConfig from '@src/app.config'

export default {
  page: {
		title: 'Register User',
		meta: [{ name: 'description', content: appConfig.description }],
	},
    data() {
        return {
            url:'https://apistg.tybgold.com/create-account',
            url1:'https://api.tybgold.com/create-account',
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Register User</span> <br>
                    <span class="page-subtitle">This enable to register user details under the registered master dealer</span>
                    <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging</span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production</span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>


          

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Details</span>
                        <br>

                         
            <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the master dealer secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>
                  <tr>
                    <td>fullname</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer fullname for registration account</td>
                    
                  </tr>
                  <tr>
                    <td>username</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer username for registration account</td>
                  
                  </tr>

                  <tr>
                    <td>email</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer email</td>
                  
                  </tr>

                  <tr>
                    <td>password</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer password. It must be the combination of lowercase and uppercase letters, number  and characters </td>
                  </tr>

                  <tr>
                    <td>phone</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer phone number</td>
                  </tr>

                  <tr>
                    <td>bank</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer bank type
                      <p>List of Bank Type :</p>
                      <p> 1. ALLIANCE BANK</p>
                      <p> 2. AMBANK</p>
                      <p> 3. AFFIN BANK</p>
                      <p> 4. AGRO BANK</p>
                      <p> 5. BANK ISLAM</p>
                      <p> 6. BANK MUAMALAT</p>
                      <p> 7. BANK SIMPANAN NASIONAL</p>
                      <p> 8. BANK RAKYAT</p>
                      <p> 9. CIMB BANK</p>
                      <p> 10. HONG LEONG BANK</p>
                      <p> 11. OCBC BANK</p>
                      <p> 12. PUBLIC BANK</p>
                      <p> 13. STANDARD CHARTED BANK</p>
                      <p> 14. HSBC BANK</p>
                      <p> 15. RHB BANK</p>
                      <p> 16. KUWAIT BANK</p>
                      <p> 17. UOB BANK</p>
                      <p> 18. MAYBANK</p>
                    </td>
                   
                  </tr>

                  <tr>
                    <td>accountNo</td>
                    <td>Int</td>
                    <td>Yes</td>
                    <td>User input your customer bank account number</td>
                  </tr>

                  <tr>
                    <td>accountHolderName</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer account holder bank name</td>
                  </tr>

                  <tr>
                    <td>address</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer address</td>
                  </tr>

                  <tr>
                    <td>icFrontSide</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User upload your customer front side IC by convert the image into base 64 String</td>
                  </tr>

                  <tr>
                    <td>icBackSide</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User upload your customer back side IC by convert the image into base 64 String</td>
                  </tr>

                  <tr>
                    <td>icSelfie</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User upload your customer selfie with IC by convert the image into base 64 String</td>
                  </tr>

                  <tr>
                    <td>kinName</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer's kin name for registration account</td>
                  </tr>

                  <tr>
                    <td>kinAddress</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer's kin address for registration account</td>
                  </tr>

                  <tr>
                    <td>kinPhone</td>
                    <td>Int</td>
                    <td>Yes</td>
                    <td>User input your customer's kin phone number for registration account</td>
                  </tr>

                  <tr>
                    <td>kinEmail</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer's kin email for registration account</td>
                  </tr>

                  <tr>
                    <td>kinRelationship</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input your customer's relationship for registration account
                      <p>For kin relationship :</p>
                      <p>1. Parents </p>
                      <p>2. Child </p>
                      <p>3. Siblings</p>
                      <p>4. Husband/Wife</p>
                      <p>5. Friend </p>
                      <p>6. Family </p>
                    </td>
                  </tr>

                  




                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>fullname</td>
                    <td>String</td>
                    <td>Haziqah ainnur</td>
                  </tr>  

                  <tr>
                    <td>username</td>
                    <td>String</td>
                    <td>Hazi ainnur</td>
                  </tr>

                  <tr>
                    <td>email</td>
                    <td>String</td>
                    <td>haziqainnur@gmail.com</td>
                  </tr>


                  <tr>
                    <td>password</td>
                    <td>String</td>
                    <td>admin@87Rksall</td>
                  </tr>

                  <tr>
                    <td>phone</td>
                    <td>String</td>
                    <td>0133040821</td>
                  </tr>


                  <tr>
                    <td>bank</td>
                    <td>String</td>
                    <td>CIMB</td>
                  </tr>

                  <tr>
                    <td>accountNo</td>
                    <td>Int</td>
                    <td>1234576334</td>
                  </tr>


                  <tr>
                    <td>accountHolderName</td>
                    <td>String</td>
                    <td>Haziqah Ainnur</td>
                  </tr>


                  <tr>
                    <td>address</td>
                    <td>String</td>
                    <td>No 92 kampung lasah</td>
                  </tr>

                  <tr>
                    <td>icFrontSide</td>
                    <td>String</td>
                    <td>data:image/jpeg;base64,...</td>
                   
                  </tr>

                  <tr>
                    <td>icBackSide</td>
                    <td>String</td>
                    <td>data:image/jpeg;base64,...</td>
                   
                  </tr>

                  <tr>
                    <td>icSelfie</td>
                    <td>String</td>
                    <td>data:image/jpeg;base64,...</td>
                   
                  </tr>

                  <tr>
                    <td>kinName</td>
                    <td>String</td>
                    <td>Sameon</td>
                   
                  </tr>

                  <tr>
                    <td>kinAddress</td>
                    <td>String</td>
                    <td>Taman Nusajaya Indah</td>
                   
                  </tr>

                  <tr>
                    <td>kinPhone</td>
                    <td>Int</td>
                    <td>0123457689</td>
             
                  </tr>

                  <tr>
                    <td>kinEmail</td>
                    <td>String</td>
                    <td>sameon@gmail.com</td>
                    
                  </tr>

                  <tr>
                    <td>kinRelationship</td>
                    <td>String</td>
                    <td>Siblings</td>
                    
                  </tr>

                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>


            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "masterDealerSecretKey": "LZPPw-L9CDG-x#A1x-IlL1y",
  "fullname": "Siti Nur Haziqah binti Arifin",
  "username": "Haziqah",
  "email": "hazzy44@gmail.com",
  "password": "MOhd@$ali6781",
  "phone": "0192728192",
  "bank": "MAYBANK",
  "accountNo": "12679082121",
  "accountHolderName": "Mohd Ali",
  "address": "No 92 kampung lasah",
  "icFrontSide": "data:image/jpeg;base64,...",
  "icBackSide": "data:image/jpeg;base64,...",
  "icSelfie":"data:image/jpeg;base64,...",
  "kinName": "Sameon",
  "kinAddress": "Taman Nusajaya Indah",
  "kinPhone": "0123456789",
  "kinEmail": "sameon@gmail.com",
  "kinRelationship": "Siblings"

});

var config = {
  method: 'post',
  url: 'apistg.tybgold.com/create-account',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});


</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>

<pre><code>
{
    "status_code": 200,
    "status": "success",
    "message": "User has been successfully register.",
    "data": {
        "userSecretKey": "fSrJq-kKy8V-gbkll-u0wBq",
        "toyyibpaySecretKey": "pfsjg-wq1id-7qgwi-nqvot",
        "VABAccountNumber": "10022416",
        "imageStatus": "ok"
    }
}
</code></pre>
                    </div>
                </b-col>
            </b-row>


             <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User not input parameter master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter masterDealerSecretKey is empty or not found</td>
                   
                  </tr>

                  <tr>
                    <td>2</td>
                    <td>User input incorrect master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter masterDealerSecretKey is not a master dealer secret key</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>User not input parameter fullname in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter fullname cannot be empty or not found</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>User not input parameter username in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter username cannot be empty or not found</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>User not input parameter email in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter email cannot be empty or not found</td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>User input the same details of existing customer</td>
                    <td>Failed</td>
                    <td>Username and email already exist in the system</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>


        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>