<script>

import Layout from '@layouts/main'

export default {
    data() {
        return {
            url:' https://apistg.tybgold.com/buyback-list',
            // url1:'https://api.tybgold.com/purchase-gold-saving-account',
             show: false,
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Buyback List</span> <br>
                    <span class="page-subtitle">This enable to check the buyback list</span>
                    <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                    <div class="alert alert-danger">
                     <strong>Notification!</strong>
                     <p>This API cannot be use for now as it still under development process</p></div>
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging </span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production </span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

              <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Details</span>
                        <br>

                         
            <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>MasterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the master dealer secret key from toyyibgold dashboard or profile</td>
                  </tr>

                  <tr>
                    <td>UserSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the user secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>

                  <tr>
                    <td>paymentStatus</td>
                    <td>String</td>
                    <td>Optional</td>
                    <td>User input payment status of buyback</td>
                  </tr>

                  <tr>
                    <td>dateFrom</td>
                    <td>String</td>
                    <td>Optional</td>
                    <td>User input the start date to get the buyback list. The format of date is DD-MM-YY</td>
                  </tr>

                  <tr>
                    <td>dateTo</td>
                    <td>String</td>
                    <td>Optional</td>
                    <td>User input the end date to get the buyback list. The format of date is DD-MM-YY</td>
                  </tr>
                
                
                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>MasterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>UserSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>paymentStatus</td>
                    <td>String</td>
                    <td>PAID</td>
                   
                  </tr>

                  <tr>
                    <td>dateFrom</td>
                    <td>String</td>
                    <td>09-10-2021</td>
                   
                  </tr>

                  <tr>
                    <td>dateTo</td>
                    <td>String</td>
                    <td>21-10-2021</td>
                   
                  </tr>


                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>

            

            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "MasterDealerSecretKey": "abcde-fghij-klmno-pqrstu",
  "UserSecretKey": "abcde-fghij-klmno-pqrstu",
  "paymentStatus": "PAID",
  "dateFrom": "09-10-2021",
  "dateTo": "21-10-2021"
});

var config = {
  method: 'post',
  url: 'https://apistg.tybgold.com/buyback-list',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});


</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>

<pre><code>
{
    "status_code": 200,
    "status": "success",
    "message": "Successfully retrieve buyback list.",
    "data": [
        {
            "buybackID": "BK220112021108263330",
            "weight": 0.02,
            "goldPrice": 4.51,
            "amountPaid": 4.51,
            "transactionNumber": "PAY8055472021108263330",
            "transactionDate": "2021-10-09T02:33:33.000Z",
            "paymentStatus": "PAID"
        },
        {
            "buybackID": "BK411342021109173828",
            "weight": 1,
            "goldPrice": 225.31,
            "amountPaid": 225.31,
            "transactionNumber": "PAY3250242021109173828",
            "transactionDate": "2021-10-09T17:38:30.000Z",
            "paymentStatus": "PAID"
        },
        {
            "buybackID": "BK4077320211018084259",
            "weight": 0.04,
            "goldPrice": 9.04,
            "amountPaid": 9.04,
            "transactionNumber": "PAY84826120211018084259",
            "transactionDate": "2021-10-18T08:43:00.000Z",
            "paymentStatus": "PAID"
        },
        {
            "buybackID": "BK1706520211021303403",
            "weight": 0.04,
            "goldPrice": 9.11,
            "amountPaid": 9.11,
            "transactionNumber": "PAY35675420211021303403",
            "transactionDate": "2021-10-21T22:34:05.000Z",
            "paymentStatus": "PAID"
        },
        {
            "buybackID": "BK9032520211021304346",
            "weight": 1.06,
            "goldPrice": 241.36,
            "amountPaid": 241.36,
            "transactionNumber": "PAY49256120211021304346",
            "transactionDate": "2021-10-21T22:43:48.000Z",
            "paymentStatus": "PAID"
        },
        {
            "buybackID": "BK1733620211022081040",
            "weight": 0.1,
            "goldPrice": 22.77,
            "amountPaid": 22.77,
            "transactionNumber": "PAY15654220211022081040",
            "transactionDate": "2021-10-22T08:10:41.000Z",
            "paymentStatus": "PAID"
        },
        {
            "buybackID": "BK1046020211023112811",
            "weight": 0.1,
            "goldPrice": 22.84,
            "amountPaid": 22.84,
            "transactionNumber": "PAY53183320211023112811",
            "transactionDate": "2021-10-23T11:28:12.000Z",
            "paymentStatus": "PAID"
        },
        {
            "buybackID": "BK6667520211024215018",
            "weight": 0.05,
            "goldPrice": 11.42,
            "amountPaid": 11.42,
            "transactionNumber": "PAY59495820211024215018",
            "transactionDate": "2021-10-24T21:50:18.000Z",
            "paymentStatus": "PAID"
        }
      ]
}
</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User not input parameter master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter MDSecretKey is empty or not found</td>
                   
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>User input incorrect master dealer secret key</td>
                    <td>Failed</td>
                    <td>Incorrect master dealer secret key</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>User input incorrect user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Incorrect user secret key</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>User not input parameter user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter UserSecretKey is empty or not found</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>User input invalid date format in parameter request. The date format is DD-MM-YY</td>
                    <td>Failed</td>
                    <td>Invalid date format</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>No buyback list that has been made by the user</td>
                    <td>Failed</td>
                    <td>No buyback list found</td>
                  </tr>

                  
                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>
        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>