<script>

import Layout from '@layouts/main'

export default {
    data() {
        return {
            url:'https://apistg.tybgold.com/buyback-detail',
            // url1:'https://api.tybgold.com/purchase-gold-saving-account',
             show: false,
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Buyback Details</span> <br>
                    <span class="page-subtitle">This enable to check the buyback details</span>
                    <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                    <div class="alert alert-danger">
                     <strong>Notification!</strong>
                     <p>This API cannot be use for now as it still under development process</p></div>
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging </span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production </span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

              <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Details</span>
                        <br>

                         
            <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>MasterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the master dealer secret key from toyyibgold dashboard or profile</td>
                  </tr>

                  <tr>
                    <td>UserSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the user secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>

                  <tr>
                    <td>buybackId</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the buyback Id. User can get the buyback id from return message of request buyback API</td>
                  </tr>

                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>MasterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>UserSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>buybackId</td>
                    <td>String</td>
                    <td>BK8674820211129130449</td>
                   
                  </tr>

                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>

            

            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "MasterDealerSecretKey": "abcde-fghij-klmno-pqrstu",
  "UserSecretKey": "abcde-fghij-klmno-pqrstu",
  "buybackId": "BK8674820211129130449"
});

var config = {
  method: 'post',
  url: 'https://apistg.tybgold.com/buyback-detail',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});



</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>

<pre><code>
{
    "status_code": 200,
    "status": "success",
    "message": "Successfully retrieve buyback details.",
    "data": {
        "buybackId": "BK8674820211129130449",
        "transactionNumber": "PAY102035620211129130449",
        "type": "Buyback",
        "weightPurchase": 1,
        "amount": 70,
        "transactionDate": "2021-11-29T13:04:53.000Z",
        "paymentStatus": "PAID",
        "inventoryList": [
            {
                "packageID": "183647264758662",
                "inventoryID": "9434610703203217000"
            },
            {
                "packageID": "183647264758662",
                "inventoryID": "4016210703203217001"
            },
            {
                "packageID": "183647264758662",
                "inventoryID": "5455010703203217002"
            },
            {
                "packageID": "183647264758662",
                "inventoryID": "2874110703203217003"
            },
            {
                "packageID": "183647264758662",
                "inventoryID": "5635410703203217004"
            },
            {
                "packageID": "183647264758662",
                "inventoryID": "5612710703203217005"
            },
            {
                "packageID": "183647264758662",
                "inventoryID": "1497810703203217006"
            },
            {
                "packageID": "183647264758662",
                "inventoryID": "2563310703203217007"
            },
         ]
    }
}
</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User not input parameter master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter MasterDealerSecretKey is empty or not found</td>
                   
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>User input incorrect master dealer secret key</td>
                    <td>Failed</td>
                    <td>Incorrect master dealer secret key</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>User input incorrect user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Incorrect user secret key</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>User not input parameter user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter UserSecretKey is empty or not found</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>User not input parameter buyback id in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter buybackId is empty or not found</td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>User input incorrect buyback id in parameter request</td>
                    <td>Failed</td>
                    <td>Incorrect buybackId</td>
                  </tr>

                  
                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>
        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>