<script>

import Layout from '@layouts/main'

export default {
    data() {
        return {
            url:' https://apistg.tybgold.com/request-buyback',
            url1:' https://api.tybgold.com/request-buyback',
            show: false,
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Request Buyback</span> <br>
                    <span class="page-subtitle">This enable to check the request buyback gold saving account</span>
                    <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging</span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production </span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>


            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Details</span>
                        <br>

                         
            <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>Input the master dealer secret key from toyyibgold dashboard or profile</td>
                  </tr>

                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>Input user secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>


                  
                  <tr>
                    <td>weight</td>
                    <td>Int</td>
                    <td>Yes</td>
                    <td>User input the weight for your customer for buyback gold. The weight format must be in gram (g)</td>
                   
                  </tr>

                  <tr>
                    <td>amount</td>
                    <td>Int</td>
                    <td>Yes</td>
                    <td>User input the amount that your customer will pay for buyback gold. The format of amount must be in Ringgit Malaysia (RM)</td>
                   
                  </tr>
                
                
                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>weight</td>
                    <td>Int</td>
                    <td>1</td>
                   
                  </tr>


                  <tr>
                    <td>amount</td>
                    <td>Int</td>
                    <td>28</td>
                   
                  </tr>


                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>

            

            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "masterDealerSecretKey": "mi4bh-oqnq7-cjuox-53zi7",
  "userSecretKey": "4mzrw-gust5-0k1w5-u4lu4",
  "weight": "1",
  "amount": "28"
});

var config = {
  method: 'post',
  url: 'https://api.tybgold.com/request-buyback',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});

</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>

<pre><code>
{
    "status_code": 200,
    "status": "success",
    "message": "User Gold Saving Account balance is sufficient.",
    "data": {
        "buyback_gsa_code": "BK8178420210922182948",
        "buyback_getBuybackWalletTransactionReferenceNumber": "PAY27273920210922182948",
        "user_gsa_balance": 18.1,
        "total_pieces": 1000,
        "package_selected": [
            {
                "packageCode": "5660297897",
                "price": 240
            }
        ]
    }
}
</code></pre>
                    </div>
                </b-col>
            </b-row>

            
            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User not input parameter master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter masterDealerSecretKey is empty or not found</td>
                   
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>User not input parameter user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter userSecretKey is empty or not found</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>User not input parameter weight in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter weight is not a number</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>User not input parameter amount in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter amount is not a number</td>
                  </tr>

                  
                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>


        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>