<script>

import Layout from '@layouts/main'

export default {
    data() {
        return {
            url:'https://mb1sgdj6z6.execute-api.ap-southeast-1.amazonaws.com/development/purchase-gold-gsa',
            show: false,
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Pricing</span> <br>
                    <span class="page-subtitle">This enable to check the pricing API</span>
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">URL </span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col xs="12" xl="7">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Description</span>
                        <br>

                        <b-row class="mt-2">
                            <b-col cols="4" class="bold text-gray">masterDealerSecretKey</b-col>
                            <b-col cols="8">
                                <span class="text-12">Get your master dealer secret key from your toyyibgold dashboard or settings.</span>
                            </b-col>
                        </b-row>

                        <b-row class="mt-2">
                            <b-col cols="4" class="bold text-gray">userSecretKey</b-col>
                            <b-col cols="8">
                                <span class="text-12">Get your user secret key from your toyyibgold dashboard or settings.</span>
                            </b-col>
                        </b-row>

                        <b-row class="mt-2">
                            <b-col cols="4" class="bold text-gray">packageCode</b-col>
                            <b-col cols="8">
                                <span class="text-12">Get your package code from the package list in your package gsa menu.</span>
                            </b-col>
                        </b-row>

                        <b-row class="mt-2">
                            <b-col cols="4" class="bold text-gray">amount</b-col>
                            <b-col cols="8">
                                <span class="text-12">Parameter amount refer to your selling price to your customer. Selling price must be not less than the master dealer gold price.</span>
                            </b-col>
                        </b-row>

                        <b-row class="mt-2">
                            <b-col cols="4" class="bold text-gray">weight</b-col>
                            <b-col cols="8">
                                <span class="text-12">Parameter weight refer to the weight of the gold to be purchased.</span>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
                <b-col xs="12" xl="5">
                    <div class="card p-4 shadow">

                        <span class="card-title">Request Parameters</span>

                        <b-row class="mt-3">
                            <b-col cols="12">masterDealerSecretKey</b-col>
                            <b-col cols="12">
                                <small>
                                    <i>Example : abcde-fghij-klmno-pqrstu</i>
                                </small>
                            </b-col>
                        </b-row>

                        <b-row class="mt-3">
                            <b-col cols="12">userSecretKey</b-col>
                            <b-col cols="12">
                                <small>
                                    <i>Example : abcde-fghij-klmno-pqrstu</i>
                                </small>
                            </b-col>
                        </b-row>

                        <b-row class="mt-3">
                            <b-col cols="12">packageCode</b-col>
                            <b-col cols="12">
                                <small>
                                    <i>Example : 12345</i>
                                </small>
                            </b-col>
                        </b-row>

                        <b-row class="mt-3">
                            <b-col cols="12">amount</b-col>
                            <b-col cols="12">
                                <small>
                                    <i>Example : 400</i>
                                </small>
                            </b-col>
                        </b-row>

                        <b-row class="mt-3">
                            <b-col cols="12">weight</b-col>
                            <b-col cols="12">
                                <small>
                                    <i>Example : 0.1</i>
                                </small>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
    "merchantDealerSecretKey": "abcde-fghij-klmno-pqrstu",
    "userSecretKey": "abcde-fghij-klmno-pqrstu",
    "packageCode": "12345",
    "amount": 400,
    "weight": 0.1
});
var config = {
    method: 'post',
    url: 'https://mb1sgdj6z6.execute-api.ap-southeast-1.amazonaws.com/development/purchase-gold-gsa',
    headers: { 
        'Content-Type': 'application/json'
    },
    data : data
};
axios(config)
.then(function (response) {
    console.log(JSON.stringify(response.data));
})
.catch(function (error) {
    console.log(error);
});
</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response</span>

<pre><code>
{
    "status_code": 200,
    "status": "success",
    "message": "Purchase gold gsa order created successfully.",
    "data": {
        "order": {
            "purchaseGsaCode": "GP7127920210831123429",
            "purchaseGsaWeight": 0.1,
            "purchaseGsaWorldGoldPrice": 282,
            "purchaseGsaGoldPrice": 29.07,
            "purchaseGsaAmountPaid": 400,
            "purchaseGsaAmountNet": 398.84,
            "walletTransactionReferenceNo": "PAY15754320210831123429",
            "purchaseGsaTransactionDate": "2021-08-31T04:34:32.000Z",
            "purchaseGsaPaymentStatus": "PAID"
        },
        "wallet_balance": 190
    }
}
</code></pre>
                    </div>
                </b-col>
            </b-row>

        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>