<script>

import Layout from '@layouts/main'
import appConfig from '@src/app.config'

export default {
  page: {
		title: 'Redeem Gold',
		meta: [{ name: 'description', content: appConfig.description }],
	},
    data() {
        return {
            url:'https://apistg.tybgold.com/redeem-gold',
            // url1:'https://f3nsj2ox3g.execute-api.ap-southeast-1.amazonaws.com/dev/redeemgold',
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Redeem Gold</span> <br>
                    <span class="page-subtitle">This enable for user to redeem gold through this API</span>
                    <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                    <b-row>
                <b-col>
                    
                    <div class="card p-1 shadow">
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Warning!</h6>
                       <p class="card-text">Before you want to use this API Redeem, you need to use <a href ="https://apireference.tybgold.com/requestsms/smsotp" class="alert-link">API Request SMS</a> to get OTP number first before proceed 
                                     to redeem gold</p>
                      </div>
                    </div>
                </b-col>
            </b-row>
                    
                   <div class="alert alert-danger">
                     <strong>Notification!</strong>
                     <p>This API cannot be use for now as it still under development process</p></div>
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging</span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

             <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production</span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row> 

            

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Details</span>
                        <br>

                         
            <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>token</td>
                    <td>Int</td>
                    <td>Yes</td>
                    <td>User input token or OTP number than has been given through SMS of user's phone number</td>
                   
                  </tr>

                  <tr>
                    <td>MasterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the master dealer secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>

                  <tr>
                    <td>UserSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the user secret key from toyyibgold dashboard or profile</td>
                  </tr>

                  <tr>
                    <td>package</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input package code, weight and quantity of the package. For this parameter request, user can see the example in sample code below</td>
                  </tr>

                  <tr>
                    <td>packageCode</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input package code from toyyibgold dashboard or profile. User need to send the parameter request in multiple data</td>
                  </tr>

                  <tr>
                    <td>weight</td>
                    <td>Float</td>
                    <td>Yes</td>
                    <td>User input the package weight. The weight format must be in gram (g). User need to send the parameter request in multiple data</td>
                  </tr>

                  <tr>
                    <td>quantity</td>
                    <td>Int</td>
                    <td>Yes</td>
                    <td>User input the quantity of the package. User need to send the parameter request in multiple data </td>
                  </tr>

                  <tr>
                    <td>premiumPrice</td>
                    <td>Float</td>
                    <td>Yes</td>
                    <td>User input amount for premium price in Ringgit Malaysia (RM)</td>
                  </tr>

                  <tr>
                    <td>deliveryMethod</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User can input either Selfpickup or Postage</td>
                  </tr>

                  <tr>
                    <td>representativePickup</td>
                    <td>String</td>
                    <td>If choose Self Pickup</td>
                    <td>User input Yes or No if you want your representative to pickup your item</td>
                  </tr>

                  <tr>
                    <td>representativeRelation</td>
                    <td>String</td>
                    <td>If choose Self Pickup</td>
                    <td>User input the relation of your representative pickup
                    <p>For representative relation :</p>
                      <p>1. Parents </p>
                      <p>2. Child </p>
                      <p>3. Siblings</p>
                      <p>4. Husband/Wife</p>
                      <p>5. Friend </p>
                      <p>6. Family </p>
                      </td>
                  </tr>

                  <tr>
                    <td>representativeFrontIC</td>
                    <td>String</td>
                    <td>If choose Self Pickup</td>
                    <td>User upload  front side IC by convert the image into base 64 String when your representative selfpickup your item</td>
                  </tr>

                  <tr>
                    <td>representativeBackIC</td>
                    <td>String</td>
                    <td>If choose Self Pickup</td>
                    <td>User upload back side IC by convert the image into base 64 String when your representative selfpickup your item</td>
                  </tr>

                  <tr>
                    <td>address</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input valid address for delivery</td>
                  </tr>

                  <tr>
                    <td>insuranceApply</td>
                    <td>String</td>
                    <td>If choose Postage</td>
                    <td>User input Yes or No if the delivery method is Postage</td>
                  </tr>

                  <tr>
                    <td>receiverName</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input receiver name completely</td>
                  </tr>

                  <tr>
                    <td>receiverEmail</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input receiver valid email</td>
                  </tr>

                  <tr>
                    <td>receiverPhone</td>
                    <td>Int</td>
                    <td>Yes</td>
                    <td>User input receiver phone number</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>token</td>
                    <td>Int</td>
                    <td>930643</td>
                   
                  </tr>

                  <tr>
                    <td>MasterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>UserSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                  </tr>

                  <tr>
                    <td>package</td>
                    <td>String</td>
                    <td>
                    <p>       packageCode : PKG1425364738,</p>
                    <p>       weight : 1.00, </p>
                    <p>       quantity : 1 </p>
                        
                   </td>
                  </tr>

                  <tr>
                    <td>packageCode</td>
                    <td>String</td>
                    <td>PKG1234567890</td>
                  </tr>

                  <tr>
                    <td>weight</td>
                    <td>Float</td>
                    <td>1.00</td>
                  </tr> 

                  <tr>
                    <td>quantity</td>
                    <td>Int</td>
                    <td>1</td>
                  </tr>  

                  <tr>
                    <td>premiumPrice</td>
                    <td>Float</td>
                    <td>25.00</td>
                  </tr> 


                  <tr>
                    <td>deliveryMethod</td>
                    <td>String</td>
                    <td>Postage</td>
                    
                  </tr> 

                  <tr>
                    <td>address</td>
                    <td>String</td>
                    <td>Taman Indah Mutiara, Bandar Tasik Selatan</td>
                  </tr> 

                  <tr>
                    <td>insuranceApply</td>
                    <td>String</td>
                    <td>Yes</td>
                  </tr> 

                  <tr>
                    <td>receiverName</td>
                    <td>String</td>
                    <td>Aminah Abu binti Abu Hassan</td>
                  </tr>

                  <tr>
                    <td>receiverEmail</td>
                    <td>String</td>
                    <td>aminahabu@gmail.com</td>
                  </tr>

                  <tr>
                    <td>receiverPhone</td>
                    <td>Int</td>
                    <td>0112345678</td>
                  </tr>


                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>

            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code - Postage</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "token": "930643",
  "MasterDealerSecretKey": "abcde-fghij-klmno-pqrstu",
  "UserSecretKey": "abcde-fghij-klmno-pqrstu",
  "package": [
    {
      "packageCode": "PKG1234567890",
      "weight": 1,
      "quantity": 1
    }
  ],
  "premiumPrice": 10,
  "deliveryMethod": "Postage",
  "address": "No 128, Jalan Permata Indah, Taman Permata Indah, 70200 Seremban Negeri Sembilan",
  "insuranceApply": "Yes",
  "receiverName": "Aminah Abu binti Abu Hassan",
  "receiverEmail": "aminahabu@gmail.com",
  "receiverPhone": "0112345678"
});

var config = {
  method: 'post',
  url: 'https://apistg.tybgold.com/redeem-gold',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});



</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code - Selfpickup</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "token": "455337",
  "MasterDealerSecretKey": "abcde-fghij-klmno-pqrstu",
  "UserSecretKey": "abcde-fghij-klmno-pqrstu",
  "package": [
    {
      "packageCode": "PKG1425364738",
      "weight": 1,
      "quantity": 1
    }
  ],
  "premiumPrice": 20,
  "deliveryMethod": "Selfpickup",
  "representativePickup": "Yes",
  "representativeRelation": "Family",
  "representativeFrontIC": "data:image/jpeg;base64,",
  "representativeBackIC": "data:image/jpeg;base64,",
  "address": "toyyibPay, Bandar tasik selatan ",
  "receiverName": "Saminah Abu",
  "receiverEmail": "saminahabu@gmail.com",
  "receiverPhone": "0112345678"
});

var config = {
  method: 'post',
  url: 'https://apistg.tybgold.com/redeem-gold',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});

</code></pre>
                    </div>
                </b-col>
            </b-row>

<b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>

<pre><code>
{
    "status_code": 200,
    "status": "success",
    "message": "Redemption process is successfully created.",
    "data": {
        "redeemID": "RD2880220211119124345",
        "paymentRefNo": "PAY36944020211119124345",
        "batchNumber": "12345620211111",
        "redeemStatus": "Order Received",
        "totalPrice": "RM38.00",
        "masterDealerWalletBalance": 8681.38,
        "userWalletBalance": 846.6560000000001,
        "userGoldBalance": 8
    }

}
</code></pre>
                    </div>
                </b-col>
            </b-row>
           

             <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User not input token from OTP number</td>
                    <td>Failed</td>
                    <td>Parameter token is empty or not found</td>
                   
                  </tr>

                  <tr>
                    <td>2</td>
                    <td>User input invalid or expired OTP number</td>
                    <td>Failed</td>
                    <td>Token is invalid or expired.</td>
                   
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>User input incorrect master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Incorrect master dealer secret key</td>
                   
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>User input incorrect user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Incorrect user secret key</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>User does not input paramater package code in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter packageCode for package 1 is empty or not found</td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>User does not input paramater weight for the package code been inserted in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter weight for package PKG1234567890 is empty or not found</td>
                  </tr>

                  <tr>
                    <td>7</td>
                    <td>User does not input paramater quantity for the package code been inserted in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter quantity for package PKG1234567890 is empty or not found</td>
                  </tr>

                  <tr>
                    <td>8</td>
                    <td>User does not input paramater premium price for the package code been inserted in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter premiumPrice is empty or not found</td>
                  </tr>

                  <tr>
                    <td>9</td>
                    <td>User does not input paramater delivery method in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter deliveryMethod is empty or not found</td>
                  </tr>

                  <tr>
                    <td>10</td>
                    <td>User does not input paramater address in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter address is empty or not found</td>
                  </tr>

                  <tr>
                    <td>11</td>
                    <td>User does not input paramater insurance apply in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter insuranceApply is empty or not found</td>
                  </tr>

                  <tr>
                    <td>12</td>
                    <td>User does not input paramater receiver name in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter receiverName is empty or not found</td>
                  </tr>

                  <tr>
                    <td>13</td>
                    <td>User does not input paramater receiver email in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter receiverEmail is empty or not found</td>
                  </tr>

                  <tr>
                    <td>14</td>
                    <td>User does not input paramater receiver phone in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter receiverPhone is empty or not found</td>
                  </tr>

                  
                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>


            
        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>