<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="shortcut icon"
      href="<%= webpackConfig.output.publicPath %>favicongold.ico"
    />

    <title><%= webpackConfig.name %></title>
  </head>

  <body>
    <!-- This is where our app will be mounted. -->
    <div id="app"></div>

    <!-- Built files will be auto injected here. -->
  </body>
  <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  <script src="vue.min.js"></script>
  <!-- must place this line after vue.js -->
  <script src="dist/vue-clipboard.min.js"></script>
</html>
