<script>

import Layout from '@layouts/main'
import appConfig from '@src/app.config'

export default {
  page: {
		title: 'Price and Gram',
		meta: [{ name: 'description', content: appConfig.description }],
	},
    data() {
        return {
            url:'https://apistg.tybgold.com/calculate-price-gram',
            url1: 'https://api.tybgold.com/calculate-price-gram',
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Price and Gram</span> <br>
                    <span class="page-subtitle">This enable to check and calculate the price and gram</span>
                    <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging</span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production</span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Details</span>
                        <br>

                         
            <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the master dealer secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>
                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the user secret key from toyyibgold dashboard or profile</td>
                    
                  </tr>

                  <tr>
                    <td>packageGsaCode</td>
                    <td>Int</td>
                    <td>Yes</td>
                    <td>User input the package GSA code from GSA package</td>
                  </tr>

                   <tr>
                    <td>conditiontype</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>If user request for condition type is weight, input WEIGHT in parameter request
                        <p>If user request for condition type is amount, input RM in parameter request</p></td>
                  </tr>

                   <tr>
                    <td>weight</td>
                    <td>Float</td>
                    <td>Yes</td>
                    <td>If user request for condition type is weight, input WEIGHT.  The weight format must be in gram (g)</td>
                  </tr>

                   <tr>
                    <td>amount</td>
                    <td>Float</td>
                    <td>Yes</td>
                    <td>If user request for condition type is amount, input RM. The amount format must be in Ringgit Malaysia (RM)</td>
                  </tr>

                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                  </tr>  

                  <tr>
                    <td>packageGsaCode</td>
                    <td>Int</td>
                    <td>123</td>
                  </tr>

                  <tr>
                    <td>type</td>
                    <td>String</td>
                    <td>WEIGHT / RM</td>
                  </tr>

                  <tr>
                    <td>weight</td>
                    <td>Float</td>
                    <td>1</td>
                  </tr>

                  <tr>
                    <td>amount</td>
                    <td>Float</td>
                    <td>35</td>
                  </tr>


                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>


           
            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code For Conditon Type - RM</span>
                        <p>This is sample code when user request parameter condition type = RM</p>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
   "masterDealerSecretKey": "abcde-fghij-klmno-pqrstu",
   "userSecretKey": "abcde-fghij-klmno-pqrstu",
   "packageGsaCode": "4602280237",
   "conditiontype": "RM",
   "amount": "35"
});

var config = {
  method: 'post',
  url: 'https://api.tybgold.com/calculate-price-gram',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});

</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code For Condition Type - WEIGHT</span>
                        <p>This is sample code when user request parameter condition type = WEIGHT</p>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "masterDealerSecretKey": "mi4bh-oqnq7-cjuox-53zi7",
   "userSecretKey": "#zZ0l-Je9fZ-NINHZ-d6KJ3",
   "packageGsaCode": "4602280237",
   "conditiontype": "WEIGHT",
   "weight": "1.000"
});

var config = {
  method: 'post',
  url: 'https://api.tybgold.com/calculate-price-gram',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});

</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>
                        <p>This is response sample success when user request parameter conditon type = RM</p>

<pre><code>
{
    "status_code": 200,
    "status": "Success",
    "message": "",
    "data": {
        "status": "success",
        "data": {
            "amount": "270.00",
            "higher_amount": "270.66",
            "lower_amount": "270.37",
            "weight": 0.001,
            "weight_higher": "0.931",
            "weight_lower": "0.930"
        }
    }
}
</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>
                        <p>This is response sample success when user request parameter condition type = WEIGHT</p>

<pre><code>
{
    "status_code": 200,
    "status": "Success",
    "message": "",
    "data": {
        "status": "success",
        "goldprice": "281.25",
        "buybackprice": "240.00"
    }
}
</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User not input parameter master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter masterDealerSecretKey is empty or not found</td>
                  </tr>

                  <tr>
                    <td>2</td>
                    <td>User input incorrect user secret key that is not under master dealer</td>
                    <td>Failed</td>
                    <td>Incorrect UserSecretKey or not under Master dealer</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>User not input parameter user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter userSecretKey is empty or not found</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>User not input parameter package gsa code in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter packageGsaCode is empty or not found</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>User not input parameter for condition type in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter conditiontype is empty or not found</td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>User not input parameter type for amount if user request type (amount) in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter amount is empty or not found</td>
                  </tr>

                  <tr>
                    <td>7</td>
                    <td>User input incorrect user secret key that is not under master dealer</td>
                    <td>Failed</td>
                    <td>Incorrect UserSecretKey or not under Master dealer</td>
                  </tr>
                

                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>




        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>