<script>

import Layout from '@layouts/main'
import appConfig from '@src/app.config'

export default {
  page: {
		title: 'Topup Wallet',
		meta: [{ name: 'description', content: appConfig.description }],
	},
    data() {
        return {
            url:'https://api.tybgold.com/topup-wallet',
            url1:'https://app.toyyibpay.com/api/getBankFPX',
            url2:'https://apistg.tybgold.com/topup-wallet',
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Topup Wallet</span> <br>
                    <span class="page-subtitle">This enable for user topup the wallet.</span>
                    <p>For Content-Type there are two options. User may use <strong>x-www-form-urlencoded</strong> or <strong>raw </strong> to pass the following parameters. The return data for Topup Wallet is in <strong>HTML </strong> format.</p>
                   
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

      <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging</span> <br>
                                {{ url2 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url2"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production</span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

             <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">URL List of Bank Code</span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Details</span>
                        <br>

                         
            <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the master dealer secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>
                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the user secret key from toyyibgold dashboard or profile</td>
                  </tr>

                  <tr>
                    <td>bank</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the bank code from the URL List of Bank Code</td>
                  </tr>

                  <tr>
                    <td>amount</td>
                    <td>Float</td>
                    <td>Yes</td>
                    <td>User input amount for topup the wallet. The format must be in Ringgit Malaysia(RM)</td>
                  </tr>

                  <tr>
                    <td>webReturnUrl</td>
                    <td>String</td>
                    <td>Optional</td>
                    <td>User insert the web return URL to redirect the return url to other page </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                  </tr>

                  <tr>
                    <td>bank</td>
                    <td>String</td>
                    <td>BCBB0235</td>
                  </tr>

                  <tr>
                    <td>amount</td>
                    <td>Float</td>
                    <td>10</td>
                  </tr> 


                  <tr>
                    <td>webReturnUrl</td>
                    <td>String</td>
                    <td>https://demo.tybgold.com/receipt</td>
                  </tr>  

                  


                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>

            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "masterDealerSecretKey": "LZPPw-L9CDG-x#A1x-IlL1y",
  "userSecretKey": "LZPPw-L9CDG-x#A1x-IlL1y",
  "bank": "BCBB0235",
  "amount": 2,
  "webReturnUrl": "https://demo.tybgold.com/receipt"
});

var config = {
  method: 'post',
  url: 'https://api.tybgold.com/topup-wallet',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});


</code></pre>
                    </div>
                </b-col>
            </b-row>

           

             <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User input incorrect master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter masterDealerSecretKey is not a valid master dealer secret key</td>
                   
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>User input incorrect user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter userSecretKey is not a valid master dealer secret key</td>
                  </tr>

                  
                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>


            
        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>