<script>

import Layout from '@layouts/main'
import appConfig from '@src/app.config'

export default {
  page: {
		title: 'Transfer Wallet',
		meta: [{ name: 'description', content: appConfig.description }],
	},
    data() {
        return {
            url:'https://apistg.tybgold.com/transfer-goldwallet',
            url1:'https://api.tybgold.com/transfer-goldwallet',
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Transfer Wallet</span> <br>
                    <span class="page-subtitle">This enable for user to transfer gold wallet to another user</span>
                    <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging </span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production </span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Details</span>
                        <br>

                         
            <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the master dealer secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>
                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the user secret key from toyyibgold dashboard or profile</td>
                    
                  </tr>

                  <tr>
                    <td>goldWalletFrom</td>
                    <td>Integer</td>
                    <td>Yes</td>
                    <td>User input the sender wallet account number to transfer the wallet money to the receiver. User can get the wallet account number after successfully register account  </td>
                    
                  </tr>

                  <tr>
                    <td>goldWalletTo</td>
                    <td>Integer</td>
                    <td>Yes</td>
                    <td>User input the receiver wallet account number to receive the wallet money from sender. User can get the wallet account number after successfully register account</td>
                    
                  </tr>

                  <tr>
                    <td>amount</td>
                    <td>Integer</td>
                    <td>Yes</td>
                    <td>User input the amount of wallet to transfer to the other user gold wallet. The amount must be in Ringgit Malaysia (RM) </td>
                    
                  </tr>
                  
                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                  </tr> 

                  <tr>
                    <td>goldWalletFrom</td>
                    <td>Integer</td>
                    <td>10012387</td>
                  </tr> 

                  <tr>
                    <td>goldWalletTo</td>
                    <td>Integer</td>
                    <td>10022432</td>
                  </tr> 

                  <tr>
                    <td>amount</td>
                    <td>Integer</td>
                    <td>10</td>
                  </tr>  

                  


                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>

            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "masterDealerSecretKey": "m7uxk-9j5pi-hlmi0-f71pb",
  "userSecretKey": "73v9A-^gGOE-mA$H6-&PRBX",
  "goldWalletFrom": "10012387",
  "goldWalletTo": "10022432",
  "amount": "10"
});

var config = {
  method: 'post',
  url: 'https://apistg.tybgold.com/transfer-goldwallet',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});


</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>

<pre><code>
{
    "status_code": 200,
    "status": "success",
    "message": "gold wallet successfully transfer",
    "data": {
        "Sender Balance": 11533.63,
        "Receiver Balance": 30
    }
}
</code></pre>
                    </div>
                </b-col>
            </b-row>



            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User not input parameter master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter masterDealerSecretKey is empty or not found</td>
                   
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>User not input parameter user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter userSecretKey is empty or not found</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>User input incorrect user secret key in parameter request that is not under master dealer</td>
                    <td>Failed</td>
                    <td>Incorrect user secret key</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>User input incorrect master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Incorrect master dealer secret key</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>User not input gold wallet account number of the sender in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter goldWalletFrom is empty or not found</td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>User  input incorrect gold wallet account number of the sender</td>
                    <td>Failed</td>
                    <td>Incorrect gold wallet from account number</td>
                  </tr>

                  <tr>
                    <td>7</td>
                    <td>User not input  gold wallet account number of the receiver in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter goldWalletTo is empty or not found</td>
                  </tr>


                  <tr>
                    <td>8</td>
                    <td>User  input incorrect gold wallet account number of the receiver </td>
                    <td>Failed</td>
                    <td>Incorrect gold wallet from account number</td>
                  </tr>


                  <tr>
                    <td>9</td>
                    <td>User not input parameter amount in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter amount is empty or not found</td>
                  </tr>


                  
                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>


        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>