<script>

import Layout from '@layouts/main'
import appConfig from '@src/app.config'

export default {
    page: {
		title: 'User List',
		meta: [{ name: 'description', content: appConfig.description }],
	},
    data() {
        return {
            url:' https://apistg.tybgold.com/wallet-transaction',
            url1:'https://api.tybgold.com/wallet-transaction',
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Wallet Transaction</span> <br>
                    <span class="page-subtitle">This enable to get wallet transaction of users</span>
                    <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                    <b-row>
                
            </b-row>
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging </span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production </span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>


              <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Details</span>
                        <br>

                         
            <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the master dealer secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>

                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the user secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>

                  <tr>
                    <td>transactionType </td>
                    <td>String</td>
                    <td>Optional</td>
                    <td>User input the transaction type for the wallet transaction. The transaction type user can input
                        <p>1. Topup </p>
                        <p>2. Withdrawal </p>
                       
                    </td>
                   
                  </tr>
                
                <tr>
                    <td>dateFrom</td>
                    <td>String</td>
                    <td>Optional</td>
                    <td>User input the start date of wallet transction. The format of date is DD-MM-YY</td>
                   
                  </tr>

                  <tr>
                    <td>dateTo</td>
                    <td>String</td>
                    <td>Optional</td>
                    <td>User input the end date of wallet transaction. The format of date is DD-MM-YY</td>
                   
                  </tr>

                  <tr>
                    <td>transactionStatus</td>
                    <td>String</td>
                    <td>Optional</td>
                    <td>User input transaction status of wallet. The transaction status user can input
                       
                        <p>1. SUCCESS </p>
                        <p>2. PENDING </p>
                        <p>3. PAID</p>
                    </td>
                   
                  </tr>
                
                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>transactionType</td>
                    <td>String</td>
                    <td>Topup</td>
                   
                  </tr>

                  <tr>
                    <td>dateFrom</td>
                    <td>String</td>
                    <td>04-12-2021</td>
                   
                  </tr>

                  <tr>
                    <td>dateTo</td>
                    <td>String</td>
                    <td>19-12-2021</td>
                   
                  </tr>

                  <tr>
                    <td>transactionStatus</td>
                    <td>String</td>
                    <td>SUCCESS</td>
                   
                  </tr>


                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>


            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "masterDealerSecretKey": "abcde-fghij-klmno-pqrstu",
  "userSecretKey": "abcde-fghij-klmno-pqrstu",
  "transactionType":"",
  "dateFrom": "04-12-2021",
  "dateTo": "21-12-2021",
  "transactionStatus": ""
});

var config = {
  method: 'post',
  url: 'https://apistg.tybgold.com/wallet-transaction',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});


</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>

<pre><code>
{
    "status_code": 200,
    "status": "success",
    "message": "Successfully retrieve wallet transaction list.",
    "data": [
        {
            "transactionFor": "Withdrawal",
            "referenceNo": "PAY34810320211215101600",
            "transactionDate": "2021-12-21T05:57:09.000Z",
            "transactionAmount": "2",
            "settlementDate": null,
            "transactionStatus": "PENDING"
        },
        {
            "transactionFor": "Withdrawal",
            "referenceNo": "PAY14309820211222082721",
            "transactionDate": "2021-12-22T03:48:13.000Z",
            "transactionAmount": "4",
            "settlementDate": "2021-12-23T00:00:00.000Z",
            "transactionStatus": "PAID"
        },
        {
            "transactionFor": "Withdrawal",
            "referenceNo": "PAY36471820211217164317",
            "transactionDate": "2021-12-17T16:42:14.000Z",
            "transactionAmount": "5",
            "settlementDate": "2021-12-18T00:00:00.000Z",
            "transactionStatus": "SUCCESS"
        },
        {
            "transactionFor": "Withdrawal",
            "referenceNo": "PAY68234120211217164314",
            "transactionDate": "2021-12-17T16:42:13.000Z",
            "transactionAmount": "5",
            "settlementDate": "2021-12-18T00:00:00.000Z",
            "transactionStatus": "SUCCESS"
        },
        {
            "transactionFor": "Withdrawal",
            "referenceNo": "PAY72838020211215104002",
            "transactionDate": "2021-12-22T00:27:52.000Z",
            "transactionAmount": "2",
            "settlementDate": "2021-12-22T00:00:00.000Z",
            "transactionStatus": "SUCCESS"
        },
        
    ]
}
</code></pre>
                    </div>
                </b-col>
            </b-row>


            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User not input parameter master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter masterDealerSecretKey is empty or not found</td>
                   
                  </tr>

                  <tr>
                    <td>2</td>
                    <td>User not input user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter UserSecretKey is empty or not found</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>User input incorrect master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Incorrect master dealer secret key</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>User input incorrect user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Incorrect user secret key</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>User input incorrect user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>User input invalid date format in parameter request. The date format is DD-MM-YY</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>User input incorrect user secret key that is not under master dealer or no wallet transaction of user being made</td>
                    <td>Failed</td>
                    <td>No wallet transaction list found</td>
                  </tr>

                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>


        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>