<script>

import Layout from '@layouts/main'

export default {
    data() {
        return {
            url:' https://apistg.tybgold.com/withdrawal',
            // url1:' https://api.tybgold.com/request-buyback',
            show: false,
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Withdrawal</span> <br>
                    <span class="page-subtitle">This enable for user to withdraw money through this API</span>
                     <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                    <b-row>
                <b-col>
                    
                    <div class="card p-1 shadow">
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Warning!</h6>
                       <p class="card-text">Before you want to use this API Withdrawal, you need to use <a href ="https://apireference.tybgold.com/requestsms/smsotp" class="alert-link">API Request SMS</a> to get OTP number first before proceed 
                                     to api withdrawal</p>
                      </div>
                    </div>
                </b-col>
            </b-row>
                    
                    <div class="alert alert-danger">
                     <strong>Notification!</strong>
                     <p>This API cannot be use for now as it still under development process</p></div>

                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging</span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production </span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>


            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Details</span>
                        <br>

                         
            <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>MasterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>Input the master dealer secret key from toyyibgold dashboard or profile</td>
                  </tr>

                  <tr>
                    <td>UserSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>Input user secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>


                  
                  <tr>
                    <td>token</td>
                    <td>Int</td>
                    <td>Yes</td>
                    <td>User input OTP number that been sent through user's phone number</td>
                   
                  </tr>

                  <tr>
                    <td>amount</td>
                    <td>Float</td>
                    <td>Yes</td>
                    <td>User input the amount to withdraw money. The format of amount must be in Ringgit Malaysia (RM)</td>
                   
                  </tr>
                
                
                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>MasterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>UserSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>token</td>
                    <td>Int</td>
                    <td>483744</td>
                   
                  </tr>


                  <tr>
                    <td>amount</td>
                    <td>Float</td>
                    <td>50.00</td>
                   
                  </tr>


                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>

            

            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "MasterDealerSecretKey": "abcde-fghij-klmno-pqrstu",
  "UserSecretKey": "abcde-fghij-klmno-pqrstu",
  "token": "483744",
  "amount": "50"
});

var config = {
  method: 'post',
  url: 'https://apistg.tybgold.com/withdrawal',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});


</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>

<pre><code>
{
    "status_code": 200,
    "status": "success",
    "message": "Successfuly withdraw."
}
</code></pre>
                    </div>
                </b-col>
            </b-row>

            
            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User not input parameter master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter MasterDealerSecretKey is empty or not found</td>
                   
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>User not input parameter user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter UserSecretKey is empty or not found</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>User input invalid or expired OTP number</td>
                    <td>Failed</td>
                    <td>Token is invalid or expired</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>User not input parameter token in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter token is empty or not found</td>
                  </tr>

                  
                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>


        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>