//
// title.scss
//

.title-tyg {
    color: #1d1d50;
}

.title-tyg-pink {
    color: #DF8A8F;
}

.title-tyg-pink-bold {
    color: #DF8A8F;
    font-weight: 900px;
    font-size: 24px;
    margin-bottom: 10px;
}