<script>

import Layout from '@layouts/main'
import appConfig from '@src/app.config'

export default {
    page: {
		title: 'Check Purchase GSA',
		meta: [{ name: 'description', content: appConfig.description }],
	},
    data() {
        return {
            url:'https://6jyag6u6o2.execute-api.ap-southeast-1.amazonaws.com/development/api_checkpurchasegsastatus',
            url1:'-',
            show: false,
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Check Purchase Gold GSA Status</span> <br>
                    <span class="page-subtitle">This enable to check the purchase gold GSA status</span>
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging </span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>


            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production </span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Description</span>
                        <br>


                        <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the master dealer secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>

                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the user secret key from toyyibgold dashboard or profile</td>
                   
                  </tr> 

                  <tr>
                    <td>purchaseID</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the purchase id of package GSA from package GSA</td>
                    
                  </tr>
                  
                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                  </tr>  

                  <tr>
                    <td>purchaseId</td>
                    <td>String</td>
                    <td>GP198242021096105306</td>
                  </tr>

                  
                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>


            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "masterDealerSecretKey" : "mi4bh-oqnq7-cjuox-53zi7",
   "userSecretKey" : "4mzrw-gust5-0k1w5-u4lu4",
   "purchaseID" : "GP198242021096105306"
});

var config = {
  method: 'post',
  url: 'https://6jyag6u6o2.execute-api.ap-southeast-1.amazonaws.com/development/api_checkpurchasegsastatus',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});

</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>

<pre><code>
{
    "status_code": 200,
    "status": "Success",
    "message": "",
    "CheckPurchaseGSADetail": {
        "status": "success",
        "purchase": [
            {
                "purchaseId": "GP586262021098095437",
                "transactionNumber": "PAY2800062021098095437",
                "username": "Aisyah Ridhana ",
                "type": "Sell",
                "weightPurchase": 1,
                "amount": 310,
                "transactionDate": "2021-09-08T01:54:38.000Z",
                "paymentStatus": "PAID"
            }
        ],
        "MasterdealerDetalis": [
            {
                "Masterdealerusername": "Mohd Amirul Amin bin Ahmad",
                "Masterdealercommission": "28.75"
            }
        ],
        "ResellerDetalis": [
            {
                "Resellerusername": "julap reseller 1",
                "Resellercommission": "0.16"
            }
        ],
        "TechnologyDetalis": [
            {
                "Technologypartnerusername": "julap technology 2",
                "Technologycommission": "0.28"
            }
        ],
        "inventoryList": [
            {
                "inventoryId": "INV94450231170",
                "InventoryDate": "2021-09-06T02:53:06.000Z",
                "InventoryStatus": "ACTIVE"
            },
            {
                "inventoryId": "INV94450231171",
                "InventoryDate": "2021-09-06T02:53:06.000Z",
                "InventoryStatus": "ACTIVE"
            },
            {
                "inventoryId": "INV94450231172",
                "InventoryDate": "2021-09-06T02:53:06.000Z",
                "InventoryStatus": "ACTIVE"
            },
            {
                "inventoryId": "INV94450231173",
                "InventoryDate": "2021-09-06T02:53:06.000Z",
                "InventoryStatus": "ACTIVE"
            },
            {
                "inventoryId": "INV94450231174",
                "InventoryDate": "2021-09-06T02:53:06.000Z",
                "InventoryStatus": "ACTIVE"
            },
            {
                "inventoryId": "INV94450231175",
                "InventoryDate": "2021-09-06T02:53:06.000Z",
                "InventoryStatus": "ACTIVE"
            },
            {
                "inventoryId": "INV94450231176",
                "InventoryDate": "2021-09-06T02:53:06.000Z",
                "InventoryStatus": "ACTIVE"
            },
            {
                "inventoryId": "INV94450231177",
                "InventoryDate": "2021-09-06T02:53:06.000Z",
                "InventoryStatus": "ACTIVE"
            },
            {
                "inventoryId": "INV94450231178",
                "InventoryDate": "2021-09-06T02:53:06.000Z",
                "InventoryStatus": "ACTIVE"
            },
        ]
    }
}
</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Fail</span>
                         
                         <br>
                         <table class="table">
                           <thead>
                             <tr>
                                <th scope="col">No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Message</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                              <th scope="row">1</th>
                              <td>User not input paramater user secret key in parameter request</td>
                              <td>Failed</td>
                              <td>Parameter userSecretKey is empty or not found</td>
                            </tr>


                            <tr>
                              <th scope="row">2</th>
                              <td>User not input parameter master dealer secret key in parameter request</td>
                              <td>Failed</td>
                              <td>Parameter masterDealerSecretKey is empty or not found</td>
                            </tr>


                            <tr>
                              <th scope="row">3</th>
                              <td>User input incorrect user secret key that is not under the master dealer of user secret key</td>
                              <td>Failed</td>
                              <td>Incorrect UserSecretKey or not under Master dealer</td>
                            </tr>


                            <tr>
                              <th scope="row">4</th>
                              <td>User not input the purchase id in parameter request</td>
                              <td>Failed</td>
                              <td>Parameter purchaseID is empty or not found</td>
                            </tr>

                            

                           </tbody>
                            
                         </table>
                         

                    </div>
                </b-col>
            </b-row>


            
        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>