<script>

import Layout from '@layouts/main'
import appConfig from '@src/app.config'

export default {
  page: {
		title: 'Purchase GSA List',
		meta: [{ name: 'description', content: appConfig.description }],
	},
    data() {
        return {
            url:'https://apistg.tybgold.com/purchase-gsa-list',
            url1:'https://api.tybgold.com/purchase-gsa-list',
            show: false,
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Purchase GSA List</span> <br>
                    <span class="page-subtitle">This enable to check the purchase GSA list of user</span>
                    <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                    <!-- <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                    <p><strong>Note : </strong> To get the list of purchase GSA, the limit is only for 100 lists. If you want to get the specific list of purchase GSA,
                        you may include the purchase GSA code in the parameter request
                    </p> -->
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging </span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production </span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Description</span>
                        <br>


                        <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the master dealer secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>

                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the user secret key from toyyibgold dashboard or profile</td> 
                  </tr>

                  <tr>
                    <td>paymentStatus</td>
                    <td>String</td>
                    <td>Optional</td>
                    <td>User input the payment status of purchase gold GSA</td> 
                  </tr>

                  <tr>
                    <td>dateFrom</td>
                    <td>String</td>
                    <td>Optional</td>
                    <td>User input the start date of purchase gold GSA. The format of date is DD-MM-YY</td>
                    
                  </tr>

                  <tr>
                    <td>dateTo</td>
                    <td>String</td>
                    <td>Optional</td>
                    <td>User input the end date of purchase gold GSA.The format of date is DD-MM-YY</td> 
                  </tr> 

                  

                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>masterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>userSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                  </tr> 


                  <tr>
                    <td>paymentStatus</td>
                    <td>String</td>
                    <td>PAID</td>
                  </tr> 

                  <tr>
                    <td>dateFrom</td>
                    <td>String</td>
                    <td>04-12-2021</td>
                  </tr>

                  <tr>
                    <td>dateTo</td>
                    <td>String</td>
                    <td>06-12-2021</td>
                  </tr>

                 

                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>


            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "masterDealerSecretKey": "abcde-fghij-klmno-pqrstu",
  "userSecretKey": "abcde-fghij-klmno-pqrstu",
  "paymentStatus": "PAID",
  "dateFrom": "01-10-2021",
  "dateTo": "13-12-2021"
});

var config = {
  method: 'post',
  url: 'https://apistg.tybgold.com/purchase-gsa-list',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});



</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>

<pre><code>
{
    "status": "success",
    "message": "Found 41 purchase gsa lists",
    "data": [
        {
            "PURCHASE_CODE": "GP301002021096124148",
            "PACKAGE": "4602280237",
            "WEIGHT": 1,
            "WEIGHT_UNIT": "GRAM",
            "GOLD_PRICE": 281.25,
            "GOLD_PRICE_UNIT": "RM",
            "AMOUNT_PAID": 310,
            "AMOUNT_PAID_UNIT": "RM",
            "TRANSACTION_DATE": "2021-09-06T04:41:49.000Z",
            "STATUS": "PAID"
        },
        {
            "PURCHASE_CODE": "GP245492021096124516",
            "PACKAGE": "4602280237",
            "WEIGHT": 1,
            "WEIGHT_UNIT": "GRAM",
            "GOLD_PRICE": 281.25,
            "GOLD_PRICE_UNIT": "RM",
            "AMOUNT_PAID": 310,
            "AMOUNT_PAID_UNIT": "RM",
            "TRANSACTION_DATE": "2021-09-06T04:45:17.000Z",
            "STATUS": "PAID"
        },
        {
            "PURCHASE_CODE": "GP584662021096131740",
            "PACKAGE": "4602280237",
            "WEIGHT": 1,
            "WEIGHT_UNIT": "GRAM",
            "GOLD_PRICE": 281.25,
            "GOLD_PRICE_UNIT": "RM",
            "AMOUNT_PAID": 310,
            "AMOUNT_PAID_UNIT": "RM",
            "TRANSACTION_DATE": "2021-09-06T05:17:41.000Z",
            "STATUS": "PAID"
        },
        {
            "PURCHASE_CODE": "GP808862021097221813",
            "PACKAGE": "4602280237",
            "WEIGHT": 1,
            "WEIGHT_UNIT": "GRAM",
            "GOLD_PRICE": 281.25,
            "GOLD_PRICE_UNIT": "RM",
            "AMOUNT_PAID": 310,
            "AMOUNT_PAID_UNIT": "RM",
            "TRANSACTION_DATE": "2021-09-07T14:18:14.000Z",
            "STATUS": "PAID"
        },
        {
            "PURCHASE_CODE": "GP621182021098093610",
            "PACKAGE": "4602280237",
            "WEIGHT": 1,
            "WEIGHT_UNIT": "GRAM",
            "GOLD_PRICE": 281.25,
            "GOLD_PRICE_UNIT": "RM",
            "AMOUNT_PAID": 310,
            "AMOUNT_PAID_UNIT": "RM",
            "TRANSACTION_DATE": "2021-09-08T01:36:11.000Z",
            "STATUS": "PAID"
        },
        
    ]
}
</code></pre>
                    </div>
                </b-col>
            </b-row>


             
            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User not input parameter master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter masterDealerSecretKey is empty or not found</td>
                   
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>User input incorrect master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter masterDealerSecretKey is not a master dealer secret key</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>User not input user secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter userSecretKey is empty or not found</td>
                  </tr>

                  
                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>


        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>