<script>

import Layout from '@layouts/main'
import appConfig from '@src/app.config'

export default {
  page: {
		title: 'Purchase Gold GSA',
		meta: [{ name: 'description', content: appConfig.description }],
	},
    data() {
        return {
            url:' https://apistg.tybgold.com/purchase-gsa-detail',
            // url1:'https://api.tybgold.com/purchase-gold-saving-account',
            show: false,
            message: ``
        }
    },
    components: { Layout },
    created() {
        console.log("Created is running!");
    },
    computed : {
        
    },
    methods: {
        onCopy: function (e) {
            
            if(this.show == true) {
                this.show = false;
                this.show = true;
            }

            this.show = true;
            this.message = 'You just copied: ' + e.text

            
        },
    }
}
</script>

<template>
    <div>
        <Layout> 

            <b-row class="mt-4">
                <b-col cols="12">
                    <span class="page-title">Purchase GSA Details</span> <br>
                    <span class="page-subtitle">This enable to check the purchase gold GSA  </span>
                    <p> For Content-Type you should use <strong> raw</strong>. Our API system will return information in JSON format</p>
                    <div class="alert alert-danger">
                     <strong>Notification!</strong>
                     <p>This API cannot be use for now as it still under development process</p></div>
                
                </b-col>
            </b-row>

            <br>

            <b-toast :visible="show" >
				<div slot="toast-title">
					<strong class="mr-auto">Notification</strong>
                </div> {{ message }}
			</b-toast>

            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Staging </span> <br>
                                {{ url }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>


            <b-row>
                <b-col>
                    <div class="card p-4 shadow">
                        <b-row align-v="center">
                            <b-col cols="10">
                                <span class="card-title">Endpoint URL Production </span> <br>
                                {{ url1 }}
                            </b-col>
                            <b-col cols="2">
                                <button 
                                type="button" 
                                class="btn text-dark bg-light float-right"
                                v-clipboard:copy="url1"
                                v-clipboard:success="onCopy"
                                >
                                    <span class="iconify" data-icon="akar-icons:link-chain"></span>
                                </button>
                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Request Parameters Description</span>
                        <br>


                        <b-tabs active-nav-item-class="font-weight-bold"  content-class="mt-3" fill>
              <b-tab title="Request Paramaters Description" active>
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Required</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>MasterDealerSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the master dealer secret key from toyyibgold dashboard or profile</td>
                   
                  </tr>
                  <tr>
                    <td>UserSecretKey</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the user secret key from toyyibgold dashboard or profile</td>
                    
                  </tr>
                  <tr>
                    <td>purchaseId</td>
                    <td>String</td>
                    <td>Yes</td>
                    <td>User input the purchase GSA Id from purchase GSA</td>
                  
                  </tr>

                  
                </tbody>
              </table>
            </div>
              </b-tab>


              <b-tab title="Request Paramaters Data">
              <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Example Data</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>MasterDealerSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                   
                  </tr>

                  <tr>
                    <td>UserSecretKey</td>
                    <td>String</td>
                    <td>abcde-fghij-klmno-pqrstu</td>
                  </tr>  

                  <tr>
                    <td>purchaseId</td>
                    <td>String</td>
                    <td>GP3306520211221110659</td>
                  </tr>

                  
                     </tbody>
                        </table>
                          </div>
                            </b-tab>
                            </b-tabs>
                  
                        
                    </div>
                </b-col>
                
            </b-row>


            <b-row>
                <b-col cols="12">
                    
                    <div class="card p-4 bg-white shadow">
                        <span class="card-title">Sample Code</span>

<pre><code>
var axios = require('axios');
var data = JSON.stringify({
  "MasterDealerSecretKey": "abcde-fghij-klmno-pqrstu",
  "UserSecretKey": "abcde-fghij-klmno-pqrstu",
  "purchaseId": "GP3306520211221110659"
});

var config = {
  method: 'post',
  url: 'https://apistg.tybgold.com/purchase-gsa-detail',
  headers: { 
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});

</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Response Sample - Success</span>

<pre><code>
{
    "status_code": 200,
    "status": "success",
    "message": "Successfully retrieve purchase GSA details.",
    "data": {
        "purchaseId": "GP3306520211221110659",
        "transactionNumber": "PAY31396320211221110659",
        "username": "Haziqah Arifin",
        "type": "Sell",
        "weightPurchase": 1,
        "amount": 300,
        "transactionDate": "2021-12-21T11:06:59.000Z",
        "paymentStatus": "PAID",
        "inventoryList": [
            {
                "purchaseId": "GP3306520211221110659",
                "inventoryId": "2879410703203222000"
            },
            {
                "purchaseId": "GP3306520211221110659",
                "inventoryId": "6092810703203222001"
            },
            {
                "purchaseId": "GP3306520211221110659",
                "inventoryId": "2399210703203222002"
            },
            {
                "purchaseId": "GP3306520211221110659",
                "inventoryId": "8504610703203222003"
            },
        ],
        "masterDealerUsername": "semuapay",
        "masterDealerCommission": 35.03,
        "resellerCommission": null,
        "technologyCommission": null
    }
}
</code></pre>
                    </div>
                </b-col>
            </b-row>

            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        <span class="card-title">Status Code of Transaction GSA</span>
                         
                         <br>
                         <table class="table">
                           <thead>
                             <tr>
                                <th scope="col">No</th>
                                <th scope="col">Status Code</th>
                                <th scope="col">Status Name</th>
                              
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                              <th scope="row">1</th>
                              <td>60</td>
                              <td>PENDING</td>
                              
                            </tr>


                            <tr>
                              <th scope="row">2</th>
                              <td>74</td>
                              <td>FAILED</td>
                             
                            </tr>


                            <tr>
                              <th scope="row">3</th>
                              <td>75</td>
                              <td>PAID</td>
                             
                            </tr>


                           </tbody>
                            
                         </table>
                         

                    </div>
                </b-col>
            </b-row>


            <b-row>
                <b-col cols="12">
                    <div class="card p-4 shadow">
                        
                        <span class="card-title">Response Sample - Fail</span>
                        <br>

            
               <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>1</td>
                    <td>User not input parameter master dealer secret key in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter masterDealerSecretKey is empty or not found</td>
                   
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>User input incorrect master dealer secret key</td>
                    <td>Failed</td>
                    <td>Incorrect master dealer secret key</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>User input incorrect user secret key that is not under the master dealer</td>
                    <td>Failed</td>
                    <td>Incorrect UserSecretKey or not under Master dealer</td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>User not input the package code in parameter request</td>
                    <td>Failed</td>
                    <td>Parameter packageCode is empty or not found</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>User not input parameter amount in parameter request or not input the amount format in number</td>
                    <td>Failed</td>
                    <td>Parameter amount is not a number</td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>User not input parameter weight in parameter request or not input the weight format in number</td>
                    <td>Failed</td>
                    <td>Parameter weight is not a number</td>
                  </tr>


                  <tr>
                    <td>7</td>
                    <td>User not input package code correctly in parameter request</td>
                    <td>Failed</td>
                    <td>PackageCode is not valid for this master dealer.</td>
                  </tr>

                </tbody>
              </table>
            </div>
                        
                    </div>
                </b-col>
                
            </b-row>


            
        </Layout>
    </div>
</template>

<style>

.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
}

.page-subtitle {
    font-size: 13px;
    font-weight: 400;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    color: #34495e;
}

.bold {
    font-weight: 700;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-gray {
    color: #95a5a6;
}

</style>