//
// buttons.scss
//

.btn {
  color: $white;

  &:focus {
    box-shadow: none;
  }

  .icon {
    svg {
      width: 1rem;
      height: 1rem;
      margin-top: -2px;
      margin-left: 0.1rem;
    }
  }
}

.btn-rounded {
  border-radius: 2em;
}

//
// light button
//
.btn-light,
.btn-white {
  color: #dc8084;
  background-color: #f3d8da;
}

.btn-light:hover{

  color: white  !important;
  background-color: #dc8084 !important;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {

  color: white  !important;
  background-color: #dc8084 !important;
}


.btn-white {
  border-color: $gray-300;

  @include hover-focus {
    background-color: $gray-300;
    border-color: $gray-400;
  }
}
//
// Link buttons
//
// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }
  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  } // No need for an active state here
}

//
// Button Extra Small Size
//

.btn-xs {
  padding: 0.2rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 0.15rem;
}

// Soft variants
@mixin btn-variant-soft($bg, $color) {
  color: $color;
  background-color: rgba($bg, $btn-soft-bg-opacity);
  border-color: rgba($color, $btn-soft-bg-opacity);

  &:focus {
    box-shadow: none;
  }

  @include hover-focus {
    color: $color;
    background-color: fade-in(rgba($bg, $btn-soft-bg-opacity), 0.05);
  }
}

@each $color, $value in $theme-colors {
  .btn-soft-#{$color} {
    @include btn-variant-soft($value, $value);
  }
}

//
// Alternate buttons
//
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
    &:focus {
      box-shadow: none;
    }
  }
}

// toyyibgold button


.btn-tyg {
  color: rgba(255, 255, 255, 0.822);
  background: linear-gradient(90.08deg, #DF8A8F 0%, #DF8A8F 100%);
  /* border: 1px solid #f1ecf2; */

  @include hover-focus {
    color: white;
  background: linear-gradient(90.08deg, #815097 0%, #815097 100%);
  }
}

.btn-cancel {
  color: white;
  background: linear-gradient(90.08deg, #bc0707 0%, #bc0707 100%);
  /* border: 1px solid #f1ecf2; */

  @include hover-focus {
    color: white;
  background: linear-gradient(90.08deg, #815097 0%, #815097 100%);
  }
}

.btn-static-light {
  color: #dc8084;
  background: #f3d8da;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;

 @include hover-focus {
    color: white;
  background: #dc8084
  }

}

.btn-static-secondary {
  color: #4b4b5a;
  background: white;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;

 @include hover-focus {
    color: white;
  background: #dc8084
  }

}

.btn-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 0.5rem;
  
}

.btn-img:active {
  opacity:0.3;
  transition: opacity 0.1s;
}

.btn-img-shadow {
  box-shadow: none;
  transition: box-shadow 0.5s;
}


.btn-img-shadow:hover  {
  border: 1px solid rgba(0,0,0,.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}