//
// nav.scss
//

// Bootstrap override - turn nav tab with broder

.nav-tabs {
  border-bottom: 2px solid rgba($gray-600, 0.2);

  .nav-item {
    margin-bottom: -2px;
  }

  li {
    a {
      padding: 0.625rem 1.25rem;
      border-color: transparent !important;
    }
    a.active {
      border-bottom: 2px solid $primary !important;
    }
  }
}

// pills
.nav-tabs,
.nav-pills {
  > li {
    > a {
      font-weight: $font-weight-bold;
      color: $gray-700;
    }
  }
}

.nav-pills {
  padding: 6px 2px;
  background: linear-gradient(90deg, hsla(331, 30%, 57%, 1) 0%, hsla(357, 57%, 75%, 1) 51%);;
  border-radius: 1.3rem;

  .nav-link {
    color: white;
    background-color: transparent;
  }

  .nav-link.active,
  .show > .nav-link {
    color: #dc8084;
    background-color: white;
    box-shadow: $box-shadow-sm;
    border-radius: 1.0rem;
  }
}

//Navtab custom
.navtab-bg {
  li {
    > a {
      margin: 0 5px;
      background-color: $gray-300;
    }
  }
}

.tab-content {
  padding: 20px 0 0 0;
}
