//
// pagination.scss
.page-item.active .page-link {
  z-index: 3;
  color: white;
  background-color: #1d1d50;
  border-color:#1d1d50;
}

// Pagination rounded (Custom)
.pagination-rounded {
  .page-link {
    margin: 0 3px;
    border: none;
    border-radius: 30px !important;
  }
}
